.sec_heading {
    font-size: 40px;
    color: $color-primary;
    font-family: $font1;
    text-align: center;
    padding: 22px 0;
    // border-left: 6px solid $color-primary;
    // padding-left: 40px;
}